
  <mat-tab-group>
    <mat-tab label="Planeten"> <app-planet></app-planet> </mat-tab>
    <mat-tab label="Planetensystem"> <app-planetensystem></app-planetensystem> </mat-tab>
    <mat-tab label="Zwergplanet"> <app-zwergplanet></app-zwergplanet> </mat-tab>
    <mat-tab label="Mond"> <app-mond></app-mond> </mat-tab>
    <mat-tab label="Stern"> <app-stern></app-stern> </mat-tab>
    <mat-tab label="Atmosphaere"> <app-atmosphaere></app-atmosphaere> </mat-tab>
    <mat-tab label="Stoff"> <app-stoff></app-stoff></mat-tab>
   <!-- <mat-tab label="Habitable Zone"> <app-habitable-zone></app-habitable-zone></mat-tab> -->
  </mat-tab-group>

<router-outlet></router-outlet>
